<h1 class="title"> Edit Area</h1>

<input name="input1" id="input" type="text" class="form-control" [(ngModel)]="inputValue"/>

<input name="input2" id="input" type="text" class="form-control" [(ngModel)]="inputValue2"/>

<button (click)="update(inputValue)">Enter</button>

<pre>{{outputValue}}</pre>
