<div class="header">
    <p>Header</p>
</div>

<div class="split left">
    <div id="VehicleContainer">
        <app-vehicle-type></app-vehicle-type>
    </div>
</div>
<div class = "split right">
<div>
    <app-edit-area></app-edit-area>
</div>
</div>


<div class="footer">
    <p>Footer</p>
</div>