 <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Vehicle Types</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Audi</button>
          <button class="dropdown-item">D2</button>

        </div>
      </div>
    </div>

  </div>

<br><br><br><br>


  <table id="buttonTable"  class="center" style="width:100%">
    <tr>
            <button (click)="add()" class="btn-group btn-group-toggle" style="width:100%">Add</button>
      
    </tr>
    <button (click)="batch()"class="btn-group btn-group-toggle" style="width:100%">batch</button>
    <tr>
            <button (click)="copy()"class="btn-group btn-group-toggle" style="width:100%">Copy</button>
    </tr>

    <tr>
            <button (click)="paste()"class="btn-group btn-group-toggle" style="width:100%">Paste</button>
    </tr>

    <tr>
            <button (click)="delete()" class="btn-group btn-group-toggle" style="width:100%">Delete</button>
    </tr>
  </table>
